body {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.left-nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #29354B;
    color: #fff;
    padding: 20px;
}

.left-nav h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    border: 3px solid #ECEBE9;
    padding: 10px;
    text-align: center;
}

.left-nav ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.left-nav li {
    margin-bottom: 10px;
}

.left-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.left-nav a:hover {
    background-color: #A0C8C3;
}

.content {
    margin-left: 340px;
    padding: 50px;
    box-sizing: border-box;
    flex-grow: 1;
    z-index: 1;
    background-color: #ECEBE9;
    color: #262225;
}

.name {
    color: #4C8891;
}

.contect section {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;

}

section p {
    font-size: 1.1em;
    line-height: 1.4;

}

.section-divider {
    border : 1px solid #A0C8C3;
    margin: 40px 0;
}

#about {
    display: flex;
    align-items: center;
}

.profile-picture {
    margin-right: 50px;

}

.profile-picture img {
    border: 4px solid #4C8891;
    border-radius: 50%;
    padding: 5px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #29354B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
}

#scrollToTopBtn:hover {
    background-color: #4C8891;
}

/* Add a dark mode style for the scroll-to-top button */
.dark-mode #scrollToTopBtn {
    background-color: #677C77;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .left-nav {
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px;
        margin-bottom: 20px;
    }

    .content {
        margin-left: 20px;
        padding: 20px;
    }

    .profile-picture img {
        width: 100%;
        height: auto;
    }
}

